* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 340px;
}

#display {
    width: 100%;
    height: 50px;
    font-size: 22px;
    color:#fff;
    text-align: right;
    margin-bottom: 15px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    width: 60px;
    height: 50px;
    margin: 5px;
    border: none;
    background: #444;
    color:#fff;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background: #555;
}

.equal {
    background: #ff9500;
    color: #fff;
    width: 130px;
}

.equal:hover {
    background: #e08900;
}

